ipycanvas
ipyevents
ipykernel
ipympl
ipython

ipython-genutils
ipyvtk-simple
ipywidgets
jupyter
jupyter-client

jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-server
jupyterlab

jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
nbclassic
nbclient
nbconvert
nbformat
nbimporter
nodejs
notebook
numpy

scipy
seaborn
